/*browser default*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: beige;
  color: rgb(51, 51, 51);
  line-height: 1.6;
  padding: 1rem;
}
/*header*/

header {
  text-align: center;
  margin-bottom: 2rem;
}

header h1 {
  margin-bottom: 1rem;
}

#search-input {
  padding: 0.5rem;
  width: 250px;
  border: 1px solid green;
  border-radius: 10px;
}

#search-form button {
  padding: 0.5rem 1rem;
  background-color: #0892b8;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#search-form button:hover {
  background-color: #ff7033;
}

/* section */

main section {
  margin-bottom: 2rem;
}

h2 {
  margin-bottom: 1rem;
}

/* recipe grid */

.recipe-card {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 1rem;
}

.recipe-card {
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  cursor: pointer;
}

.recipe-card:hover {
  transform: scale(1.03);
}

.recipe-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.recipe-card h3 {
  padding: 0.5rem;
  font-size: 1rem;
  text-align: center;
}

/* recipe details */

#recipe-details {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

#details-content {
  background: white;
  padding: 1.5rem;
  border-radius: 8px;
  max-width: 600px;
  width: 90%;
  max-height: 80vh;
  overflow-y: auto;
}

#close-details {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: rgb(173, 46, 71);
  color: white;
  border: none;
  padding: 0.3rem 0.8rem;
  border: radius 4px;
  cursor: pointer;
}

#close-details:hover {
  background: darkred;
}

/* utility classes */

.hidden {
  display: none;
}
