* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: beige;
  color: purple;
  padding: 1rem;
  line-height: 1.6;
  background: url(https://i.pinimg.com/736x/ff/d6/a3/ffd6a35625254ce4b6fd902e1084a7b0.jpg);
}

header {
  text-align: center;
  margin-bottom: 2rem;
}

header h1,
h2 {
  margin-bottom: 1rem;
  font-size: 50px;
  color: white;
}
#search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
#home-btn {
  padding: 0.5rem 1rem;
  background-color: #0892b8;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#home-btn:hover {
  background-color: #533f36;
  color: white;
}
#search-input {
  padding: 0.5rem;
  width: 250px;
  border: 2px solid black;
  border-radius: 5px;
}

#search-form button {
  padding: 0.5rem 1rem;
  background-color: #0892b8;
  color: #333333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#search-form button:hover {
  background-color: #533f36;
  color: white;
}

.recipe-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 1rem;
}

.recipe-card {
  background: rgb(196, 188, 188);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s;
}

.recipe-card:hover {
  transform: scale(1.03);
}

.recipe-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.recipe-card h3 {
  padding: 0.5rem;
  text-align: center;
}

/* Recipe Details  */
#recipe-details {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

#details-content {
  position: relative;
  background: rgb(189, 178, 178);
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  width: 90%;
  max-height: 80vh;
  overflow-y: auto;
}

#close-details {
  position: absolute;
  top: 10px;
  right: 10px;
  background: maroon;
  color: white;
  border: none;
  padding: 0.3rem 0.8rem;
  border-radius: 4px;
  cursor: pointer;
  z-index: 10;
}

#close-details:hover {
  background: darkred;
}
.details-img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  margin-bottom: 1rem;
  border-radius: 6px;
}

#add-favorite {
  background: green;
  padding: 2px;
  margin: 2px;
  font-size: 20px;
  color: beige;
}

.remove-favorite {
  background: rgb(216, 29, 29);
  color: silver;
  padding: 2px;
}
#feedback-section {
  margin-top: 2rem;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  text-align: center;
}

.fed {
  color: yellowgreen;
}

#feedback-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

#feedback-form input,
#feedback-form textarea {
  padding: 0.5rem;
  border: 2px solid navy;
  border-radius: 6px;
  font-size: 1rem;
  width: 500px;
}

#feedback-form button {
  padding: 0.6rem;
  background: #0892b8;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

#feedback-form button:hover {
  background: #066f8a;
}

/* Utility */
.hidden {
  display: none !important;
}
